
body {
  background-color: ivory;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 880px;
}

canvas {
  display: inline-block;
  width: 600;
  margin: auto;
}

#topnav {
  height: 100px;
  width: 100%;
  overflow-y: hidden;
}

#content {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  text-align: center;
}
